.page[b-un7nben9r5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-un7nben9r5] {
    flex: 1;
}


.top-row[b-un7nben9r5] {
    background-color: #1C1C1C;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row a[b-un7nben9r5] {
    color: #ffffff !important;
}

    .top-row[b-un7nben9r5]  a, .top-row[b-un7nben9r5]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-un7nben9r5]  a:hover, .top-row[b-un7nben9r5]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-un7nben9r5]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-un7nben9r5] {
        justify-content: space-between;
    }

    .top-row[b-un7nben9r5]  a, .top-row[b-un7nben9r5]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-un7nben9r5] {
        flex-direction: row;
    }

    .sidebar[b-un7nben9r5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-un7nben9r5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-un7nben9r5]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-un7nben9r5], article[b-un7nben9r5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-un7nben9r5] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-un7nben9r5] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.footer[b-un7nben9r5] {
    background-color: #1C1C1C;
    color: #FAF9F6;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #5A3E36;
    margin-top: auto;
}

.footer-content[b-un7nben9r5] {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer a[b-un7nben9r5] {
    color: #A8C686;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover[b-un7nben9r5] {
    color: #C6A664;
}
    