<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Wasabi Garden</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler')?.click()">
    <nav class="nav flex-column">
        <!-- HOME -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Solo per Cucina -->
        <AuthorizeView Roles="Cucina">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="insert">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inserisci
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ordini">
                        <span class="bi bi-list-ul" aria-hidden="true"></span> Ordini
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- Clienti, Tavoli, Cucina: possono vedere i piatti -->
        <AuthorizeView Roles="Client,Cucina,Tavolo">
            <Authorized>
                @foreach (var voce in new[] { "nigiri", "poke", "tacos", "hosomaki", "maki", "salse", "dolci", "bibite" })
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@voce">
                            <span class="bi bi-dot"></span> @voce.First().ToString().ToUpper()@voce.Substring(1)
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>