@page "/nigiri"
@rendermode InteractiveServer

<h3>Test bottone</h3>

<button @onclick="OnClick">Cliccami</button>

<p>@message</p>

@code {
    private string message = "";

    private void OnClick()
    {
        message = "Bottone cliccato!";
    }
}