@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using SushiApp.Models.Services
@inject NavigationManager NavigationManager
@inject OrdineService OrdineService


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="fw-bolder">Hai effettuato il logout </span>
                </div>
            </div> 
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (HttpContext.User.Identity.IsAuthenticated)
        {
            var tavolo = HttpContext.User.Identity?.Name;

            if (!string.IsNullOrEmpty(tavolo))
            {
                // Chiude l'ordine attuale e ne apre uno nuovo
                await OrdineService.ChiudiEApriNuovoOrdineAsync(tavolo);
            }

            // Logout effettivo
            await HttpContext.SignOutAsync();
            NavigationManager.NavigateTo("/logout", true);
        }
    }
}
